<h1>Ajouter une catégorie</h1>
<form action="/newcatreading" method="POST">
    <input type="hidden" min="6" max="10" name= "CatégorieID"  value = "<%= CatégorieID %>"><br> </br>
    Nom de la catégorie:
    <input type="text" name="CatName" value="<%= CatName %>"><br></br>
    <!-- <table>
        <tr>
            <th>1</th>
            <td>Action</td>
            <th>2</th>
            <td>Aventure</td>
            <th>3</th>
            <td>Comédie</td>
            <th>4</th>
            <td>Horreur</td>
            <th>5</th>
            <td>Drama</td>
        </tr>
    </table> -->
    <input class="Save" type="submit" name="save" value="Sauver"><br></br>
</form>
<form action="/categoriename" method="get">
    <button class="Back" type="submit"> Retour à la liste </button></br>
 </form>


<style>

    body{
        background-color:honeydew;
        width: 150%;
        margin-left: 50px;
    }

    form{
        background-color: #E0E0E0;
        width:25%;
        text-align:justificy;
        border-width: 2px;
        border-style: groove;
        border-image: initial;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-left: 6px;
    }

    input{
        border-radius: 2px 2px 2px;
    }

    h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	    background-color: black;
        width:25%;
        text-align:center;
        border-radius: 50px;
	    color: white;
    }

    .save{
        border-radius: 12px;
        background-color: black;
        border: white;
        color: white;
        font-family: Georgia;
        font-size: 18px;
    }

    .Back{
        border-radius: 12px;
        background-color: green;
        border: white;
        color: white;
        font-family: Georgia;
        font-size: 18px;
    }

</style>