<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"rel="stylesheet"id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!--------------------------------------------------En tête du site------------------------------------------------>
<head id = "head"> 
  <div id="param">
      <h2> IReader </h2>     <h3 style="font-style: italic">Manage your Readings___________________________________________________ </h3>
  </div>
      <div class="option">
       <ol>
          <li> <!--delete account-->
          <form action ="/confirm" method="GET">
              <button type ="submit">
                  <a action= "/confirm" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span>Delete account</a></button></form> 
          </li>
          <li> <!--Log OUT-->
              <form action ="/loginPage" method="GET">
                  <button type ="submit"> 
                  <a action="/loginPage" class="btn btn-default"><span class="glyphicon glyphicon-off"></span> Log out</a></button></form>
          </li>
          <li> <!--Modifier profil-->
          <form class="modif" action = "/userFormUpdate" method="GET">
              <button type="submit">
                  <a action="/userFormUpdate" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>Edit profile</a><em></em></button>
          </form>    
          </li>        
       </ol>
      </div>
  </div>
</head>

</br>
<div>
    <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: 900; font-stretch: ultra-condensed"> Livres par catégorie</h1>
</div>

<div id="menu">
    <form action = "/mainpage" method="GET">
        <button class="menu" type="submit"> Liste des livres </button> 
    </form>

    <form action="/addcategorie" method="GET">
      <button class="menu" type="submit"> Ajouter une catégorie </button> 
    </form>

  </br>
    <form action= "/categoriereading" method="GET">
      <button class="menu" type="submit">All</button>
    </form>


  </div>

<div class="cat">

    <% for (let i = 0 ;  i < catégorie.length ; i++) 
    { %> </br> 
    <form action = "/categoriefiltre/<%= catégorie[i].category %>" method="GET"> </br>
     <button class="indiv" type="submit" class="btn btn-sm btn-primary btn-create">
     <%= catégorie[i].category %></button> 
    </form>
    <% } 
    %>
    <p style="font-weight: 900; background-color: honeydew; font-size: 15px; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center">
      <img src="https://www.cjoint.com/doc/20_05/JEhvdEdNUFG_books.jpg" type="image" alt="Image de livres">
    </p>
</div>
</div>

            <div class="container">
              <div class="row">
                <div class="span5">
                        </div>
              </div>
            </div>
            </div>

</div></div></div>


<style>
  .table table-striped table-condensed{
   border : solid 1px;
   padding: 0;
   margin: 0; 
  }
  .span5 {
   padding: 0;
   margin: 0; 
   width: 100%;
  }
  h1{
      padding-top: 10px;
      padding-left: 10px;
      padding-bottom: 10px;
      background-color:black;
      color: white; 
      text-align: center;
  }
  h2
  {
      font-size: 50px;
      text-align: center;
      margin: 0;
      color: white;
      background-color: black;
      width: 20%;
      border-radius: 90px;
      margin-left: 0;
      padding-left: 0;
  }
  .colonnes
  {
      background-color:#4CAF50;
      color: white;
  }
  .menu
  {
      background-color:black; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      /*float: right*/
  }
  .menu:hover
  {
    color: white;
    background-color:#4CAF50;
    transition: 0.6s all; /*Info: transition de couleur lorsque je survole l'onglet*/
  }
  form
  {
      border: none;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 0;
      padding: 0; 
  }
  .label label-succes2
  {
      background-color:whitesmoke;
  }
  button
  {
      border-style: none;
  }
  #menu
  {
      display: flex;
      padding-left: 380px;
      align-content: space-between;
      margin-bottom: 0px;
      padding-bottom: 0;

  }
  #param
  {
      display: flex;
      float: center;
      align-content: space-between;
      margin-bottom: 15px;
  }
  .option
  {
      align-content: space-between;
      padding-bottom: 10px;
  }
  ol li
  {
      float: right;
      text-decoration: none; /*Info: désactiver le soulignement*/
      list-style-type: none; /*Info: désactiver les puces*/
  }


  .cat, .cat button{
      color: white;
      text-align: center;
      text-decoration: none;
      display:inline-block;
      font-size: 20px;
      /* float: right*/
	/* display : block;
	position :absolute;
	text-align : center;
  margin-left: 250px;
  background-color: green;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px; */

  }
  .cat, .cat button:hover{
    color: black;
  }

.indiv
{
  background-color:teal;

}