<!DOCTYPE html> <html lang="fr">
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="description" content="gestion des lectures "/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Page Login</title>
<!------ Include the above in your HEAD tag ---------->
</head>

<body>
    <div role="contentinfo" id="login">
        <h1 class="text-center text-white pt-5" style="background-color: #044347;font-size: 30">IReader</h1>
          <p style="text-align: center;font-size: 1.75rem;color:#044347; margin: auto; font-style: bold;">Manage your Readings</p>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <!-- <form id="login-form" class="form" action="" method="post"> -->
                            <h3 class="text-center text-info" style="color:#044347">Login</h3>
                            <form action="auth_login" method="POST">

                            <div role="textbox"class="form-group">
                                <label for="username" class="text-info" style="color:#044347">E-mail adress:</label><br>
                                <input aria-label="adress" type="text" name="email" id="email" class="form-control">
                            </div>

                            <div role="textbox" class="form-group">
                                <label for="password" class="text-info" style="color:#044347">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>

                            <div role="button" class="form-group">
                                <!-- <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br> -->
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Submit">
                            </div>
                            </form> 
                        </br>
                            <div role="button" id="register-link" class="text-right">
                                <a href="/register" class="text-info">Not registered?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<style>
#login{
    margin-bottom: 20px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #88ccd1;
  height: 100%;

}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

@media only screen and (max-width: 500px)
    {
    
      body{
        margin: 0;
        padding: 0;
      }

      h1{
        font-size: 30px;
        border-radius: 10%;
        width: 100%;
      }

      ul,ol{
        margin: 0 0 0px 0px;
    }
    form{
        width: 100%;
    }
    }
</style>